<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulk SMS and Email Service</title>
    <link rel="stylesheet" href="/static/Files/style.css">
</head>

<body>
    <main>
        <section>
            <div class="drag-area">
                <h1>BULK SMS, EMAIL AND</h1>
                <h1>WHATSAPP <span style="color:#8147df; font-size: 3rem; font-weight: 700;">SERVICE</span></h1>
                <br>
                <header>Please Select</header>
                <span>Any service shown Below</span>
                <br>
                <br>
                <div id="sending_option"> <!--SEND TO TREE PAGES WHATSAPP EMAIL SMS-->
                    <div id="child1" class="sending_option_childs">
                        <a href='/static/Files/pages/sms.html' class="options">
                            <img src='/static/Files/image/sms.png' alt='SMS'>
                        </a>
                    </div>

                    <div id="child2" class="sending_option_childs">
                        <a href='/static/Files/pages/whatsapp.html' class="options">
                            <img src='/static/Files/image/whatsapp.png' alt='WHATSAPP'>
                        </a>
                    </div>

                    <div id="child3" class="sending_option_childs">
                        <a href='/static/Files/pages/email.html' class="options">
                            <img src='/static/Files/image/email.png' alt='Email'>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <img src="/static/Files/image/bulk_sms_email_image.png" alt="Bulk Sms Email Image">
        </section>
    </main>
</body>

</html>
